<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to EJS</h1>
    <h1><%=1+2+3+17+2%></h1>
    <% if(true) { %>
        <h1>Condition is true</h1>
    <% } else { %>
        <h1>Condition is false</h1>
    <% } %>
</body>
</html>