<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Form to add new enteries</h1>
    <form action="/blogs" method="post">
    <div>
        <input type="text" name="title" placeholder="Enter title" required>
        <input type="text" name="content" placeholder="Enter content" required>
    </div>
    <div>
        <label for="comment">comment</label>
        <input type="text" name="comment" id="comment">
    </div>
    <button type="submit">submit</button>
    </form>
</body>
</html>